.rodjak {padding-top: 80px;}

.slogan{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(67, 173, 76);

    padding-top: 80px;
    font-size:xx-large ;

body{

    }

